langchain-core==0.3.81
langchain-ollama==0.3.10
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
langchain==0.3.27
langgraph==0.6.11
python-dotenv==1.2.1
ipykernel==7.1.0
langfuse==3.11.2
#2.60.10